<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/mypage/myPageList.css">
</head>
<body>
    <aside id="mypage_list_form">
        <div id="mypage_list">
            <ul>
                <span>내기록</span>
                <li><span>판매기록</span></li>
                <li><span>구매기록</span></li>
                <li><span>경매정산</span></li>
                <li><span>내가 쓴 커뮤니티글</span></li>
            </ul>
            <ul>
                <span>내 정보</span>
                <li><span>개인정보 수정</span></li>
                <li><span>회원탈퇴</span></li>
            </ul>
            <ul>
                <span>내 활동</span>
                <li><span>찜 리스트</span></li>
                <li><span>채팅 목록</span></li>
            </ul>
        </div>
    </aside>
</body>
</html>