<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="modal_container">
        <div id="modal_box">
            <div class="modal_header">
                <span class="modal_title"></span>
            </div>
            <div class="modal_body">
                <table class="roport_list_content">
                    <tr>
                        <th class="report_category">신고사유</th>
                        <th class="report_title">신고제목</th>
                        <th class="report_time">신고시간</th>
                    </tr>
                    <tr>
                        <td class="category_content">욕설</td>
                        <td class="title_content">ㅁㄴㄻㄹㅇㄴㅁㄹㅇㄴㄹㅇㄴㄹㅇㄴ</td>
                        <td class="time_content">22-03-28</td>
                        <td>게시자 징계하기</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>