@charset "utf-8";

/* 초기화 */

* {
    margin: 0; padding: 0;
    font-family: 'Montserrat', 'san-serif';
}
a { text-decoration: none !important; color: black;}
img { border: 0; }
ul { list-style: none; }
body { overflow-x:hidden}

/* header */
#main_header {
    position: relative;
    border-bottom: 1px solid gray;
    width: 100vw;
    background-color: #fff;
    z-index: 99;
}

#header {
    display: flex;
    justify-content: center;
    height: 150px;
}

#main_header #logo {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 50px;
}

#main_header #logo img{
    width: 180px;
    height: 180px;
}

#main_header #search {
    width: 640px;
    height: 40px;
    margin-top: 20px;
    background-color: white;
    border: 0;
    border-bottom: 1px solid #993333;
}

#main_header #header_top_right {
    position: absolute;
    margin-right: 50px;
    margin-top: 30px;
    right: 0px;
}

#header .login_page:hover {
    color: #993333;
    font-weight: 900;
}

#header .insert_user:hover {
    color: #993333;
    font-weight: 900;
}

/*로그인 후 header_top_right*/
#header_top_right span {
	display: inherit;
    margin-bottom: 10px;
    text-align: center;
}


/* header > nav */
#main_nav {
    margin-bottom: 10px;
    margin-top: -50px;
    position: relative;
    z-index: 99;
}

#main_nav ul {
    text-align: center;
}

#main_nav ul li {
    display: inline-block;
    margin : 0 5%;
}

#main_nav a {
    font-size: 16px;
    line-height: 30px;
}

#main_nav a div {
    width: 8vw;
    height: 30px;
    border-radius: 20px;
    
}

/* header > nav : event js와 연계 */
#main_nav .nav ul .active {
    background-color: #993333;
    color: #fff;
}

/* header > nav > category */

#main_nav .category{
    position: relative;
    display: block;
    float: left;
    margin-top: 40px;
    width: 15vw;
}

#main_nav .category_box {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    cursor: pointer;
}

.category .berger1::after {
    content: ' ';
    position: absolute;
    top: 10px;
    left: 20%;
    height: 1px;
    width: 25px;
    background-color: gray;
    display: block;
}

.category .berger2::after {
    content: ' ';
    position: absolute;
    top: 17px;
    left: 20%;
    height: 1px;
    width: 25px;
    background-color: black;
    display: block;
}

.category .berger3::after {
    content: ' ';
    position: absolute;
    top: 24px;
    left: 20%;
    height: 1px;
    width: 25px;
    background-color: gray;
    display: block;
}


/* footer */
#footer{
    border-top: 1px solid gray;
    position: absolute;
    height: 20vh;
    width: 100vw;
    font-size: 8px;
}

#footer_content {
    float: left;
    position: absolute;
    top: 25px;
    left: 200px;
}

#footer #logo {
    width: 150px;
    height: 150px;
    float: right;
    position: relative;
    right: 200px;
    top: 30px;
}

#footer #logo img {
    width: 150px;
    height: 150px;
}

/*공유 버튼 */

 /* 글 작성 버튼 */
.commonwritebutton{
 	background-color:antiquewhite;
	text-align:center;
	border-radius:15px;
	border:0;
	font-size: 16px;
 }
/* 글작성 버튼을 hover 했을시 적용*/
.commonwritebutton:hover{
	background-color: #993333;
	color:white;
}

/*게시글 등록 중 등록하기(수정하기), 취소하기 버튼 통합*/
.commonsubmit{
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
   	border: 2px solid #993333;
   	color: black;
    cursor: pointer;
}
.commonsubmit:hover{
	background-color: #993333;
 	color: white;
}

/*header 검색 부분*/
#searchform {
    display: flex;
    position: relative;
}

/*header 검색 부분의 x버튼 부분*/
#cancelbutton {
    position: absolute;
    transform: translate(550px, 24px);
    background: white;
    padding: 5.7px;
    padding-right: 14px;
    border: 0px;
}

img#cancel {
    width: 25px;
    height: 25px;
    position: absolute;	
    transform: translate(550px, 24px);
    background: white;
}

/*돋보기 아이콘*/
a#searchbutton {
    display: block;
    position: absolute;
    transform: translate(590px, 20.5px);
    background: white;
    padding: 3px;
    padding-bottom: 0;
    padding-right: 8.4px;
}

/*검색 x버튼 가리기*/
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
#opercity{
    border: 0;
    background-color: white;
}
/*서치 바탕색 제거*/
input[type = search]:focus{
    outline: none;
}



/* 메인페이지 UI */

.event_img_box{
    display: block;
    width: 100%;
    top: 0;
    height: 500px;
    background-color: red;
    position: absolute;
    text-align: center;
}


.main01_content .notice_box{
    display: block;
    width: 800px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);

}

.notice_box .notice_text{
    font-size: 20px;
}

.notice_box table{
    margin-top: 30px;
    border-collapse: collapse;
}

.notice_box .create_date {
    width: 150px;
}

.notice_box table td{
    border-bottom: 1px solid black;
}

.notice_box .notice_title{
    width: 650px;
    overflow-x: hidden;
}

.notice_box tr {
    height: 40px;
}


/* main2페이지 중고 인기 12개 */


.usedboard_content_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    /* top: -80px; */
}

.userdboard_content{
    width: 10%;
    height: 30vh;
    margin: 30px 50px;
    cursor: pointer;
    margin-top: 30px;
}


/* main3페이지 경매 인기 12개 */
.action_content_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    /* top: -80px; */
}

.action_content{
    width: 10%;
    height: 30vh;
    margin: 30px 50px;
    cursor: pointer;
    margin-top: 30px;
}

.section01 .section_title {
    font-size: 20px;
    position: relative;
}

.section02 .section_title {
    font-size: 20px;
    position: relative;
}

#footer{
    width: 100%;
    height: 300px;
    position: relative;
}

.main_img_box{
    background: url(../../images/logo.gif) no-repeat center;
    background-size: cover;
    position: absolute;
    bottom: -120px;
    right: -20px;
    width: 500px;
    height: 500px;
    opacity: 0.2;
    transform: rotate(-20deg);
    z-index: -9;
}



.userdboard_content {
    overflow: hidden;
}
.used_title_img{
    background-color: red;
    width: 100%;
    height: 140px;
}

.used_title_img img{
    width: 100%;
    height: 140px;
}

.used_title_img p {
    margin: 5px 0 5px 3px;
}

.title_box{
    padding-top: 30px;
    margin: 0 0 50px 40px;
}


/* 메인페이지 슬라이드 */

.slide_index .slide1 {
    background-image: url(../../images/이벤트1.jpg);
    background-size: cover;
    background-position: center;
}
.slide_index .slide2 {
    background-image: url(../../images/이벤트2.jpg);
    background-size: cover;
    background-position: center;
}
.slide_index .slide3 {
    background-image: url(../../images/이벤트3.jpg);
    background-size: cover;
    background-position: center;
}
.slide_index .slide4 {
    background-image: url(../../images/이벤트4.jpg);
    background-size: cover;
    background-position: center;
}
.slide_index .slide5 {
    background-image: url(../../images/이벤트5.jpg);
    background-size: cover;
    background-position: center;
}
.slide_index .slide6 {
    background-image: url(../../images/이벤트6.jpg);
    background-size: cover;
    background-position: center;
}

.fp-viewing-main04 .main_img_box {
    display: none;
    transition: all ease-in-out 0.3s;
}