@charset "utf-8";

* {
    margin: 0; 
    font-family: 'Montserrat', 'san-serif';
}

#mypage_list_form {
    width: 300px;
    height: 70vh;
}

#mypage_list_form #mypage_list {
    width: 250px;
    height: 95%;
    border-right: 1px solid black;
    margin-top: 10%;
}

#mypage_list_form #mypage_list #content {
    padding-top: 5%;
    height: 80%;
}

#mypage_list_form #mypage_list ul {
    margin: 30px 0px 30px 10px;
    list-style-type: disc;
    padding-left: 40px;
}

#mypage_list_form #mypage_list ul>span{
    display: inline-block;
    margin-bottom: 10px;
    margin-left: -25px;
}

#mypage_list_form #mypage_list li {
    line-height: 30px;
}

#mypage_list_form #mypage_list li:hover a{
    color: #993333;
    border-bottom: 1px solid #993333;
    cursor: pointer;
}

#mypage_list_form #mypage_list .active{
    color: #993333;
    border-bottom: 1px solid #993333;
}

.mypage_list_page{
    float: left;
}
