@charset "utf-8";

#input_box .content_box {
    height: 400px;
}

#input_container .button {
    margin-top: 100px;
}

.content_box div {
    margin: 30px auto;
}

#input_container {
	height: 500px;
}