<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../../resources/css/common/common.css">
    <link rel="stylesheet" href="../../resources/css/mypage/myPageList.css">
    <link rel="stylesheet" href="../../resources/css/mypage/salesRecordPage.css">
</head>
<body>
    <div class="salescontent">
        <div class="salescontent_title_box">
            <span id="salescontent_title">판매기록</span>
        </div>
        <div class="button_box">
            <button id="recored_delete" type="button">기록 삭제</button>
        </div>
        <div class="content_box">
            <div class="date_box">
                <span class="date">날짜</span>
            </div>
            <div class="del_up_box">
                <span class="content_update">수정</span>
                <span>/</span>
                <span class="content_delete">삭제</span>
            </div>
            <div class="main_content_box">
                <div class="statuss">
                    <span class="status">거래중</span>
                    <span class="status_swap">상태변경</span>
                </div>
                <div class="content_title">
                    <img class="content_img" src="" alt="">
                    <span class="content_title_name">판매 제품명</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>