<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%@include file = "../common/header.jsp" %>
<div class="mypage_list_page">
    <%@include file = "../common/mypageList.jsp" %>
</div>
<div id="salescontent_box">
    <div class="salescontent_title_box">
        <span id="salescontent_title">판매기록</span>
    </div>
</div>
<div style="clear: both;">
    <%@ include file = "../common/footer.jsp" %>
</div>
</body>
</html>