@charset "UTF-8";
/* 필터 부분 차지 */
	#filter{
		width: 40%;
		height: 10%;
		border: 1px solid black;
		padding: 10px;
	}
	#filterdiv{
		display: flex;
		flex-wrap: wrap;
	}
	#large, #middle, #small{
		margin-left: 7%;
		margin-right: 5%;
		width: 15%;
		height: 10%;
	}
	#large, #middle{
		margin-right: 0;
	}
	#filter-Apply, #filter-Apply2{
		background-color: #F1C40F;
		color: white;
		border: 0px;
		border-radius: 3px;
		padding: 5px;
	}
	#details{
		border: 0px;
		background: #00ff0000;
	}
	#details > img{
		width: 20px;
		height: 20px;
	}
	#detaildiv, #filter-Apply2{
		display: none;
	}
	#filter-Apply2{
		margin-left: 20%;
	}
	#end{
		display: flex;
		justify-content: flex-end;
	}
	.filtering{
		margin-left: 7%;
	}
	.f-1{
		display: flex;
	}
	#maginright{
		margin-right: 3%;
	}
	#maginleft{
		margin-left: 3%;
	}