.main{
    width: 70vw;
    border: 1px solid;
    margin: 0 auto;
}
#top{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.swiper-pagination-bullet-active {
    background: #d30505;
}
.swiper-pagination-bullet {
    margin: 3px;
}
.swiper-pagination {
    position: relative;
}
.arrow{
    color: #d30505;
}
#image, .imageArea{
    width: 400px;
    height: 400px;
}
.one{
    font-size: 14px;
    color: #808080;
}
#titleandsell{
    display: flex;
}
#product{
    width: 600px;
    height: 300px;
    margin: auto 0;
    margin-left: 100px;
}
.flexin {
    display: flex;
    justify-content: space-between;
}	
#titleandsell{
    display: flex;
    font-size: 30px;
    margin-bottom: 5px;
    margin-left: 7px;
}
#title{
    margin-right: 10px;
}
.sell, .buy{
    font-weight: bold;
}
.sell{
    color: #2881dd
}
.information{
    border-top: 1px solid;
    padding-top: 12px;
    padding-left: 7px;
}
.dot{
    margin-top: 6px;
}
.status, .payment, .seller {
    display: flex;
    margin-top: 3px;
}
.payment-in, .status-in, .sellerid {
    margin-left: 16px;
    color: black;
}
.chatting {
    background: #f8e86d;
}

.likebutton, .chatting, .buyme {
    width: 140px;
    height: 35px;
    vertical-align: middle;
    border-radius: 5px;
    border: 0px;
}
.likebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e5e5;
}
.heart {
    width: 24px;
    height: 22px;
    margin-right: 5px;
}
#transaction {
    color: #deb666;
    font-weight: 600;
    font-size: 16px;
    margin-top: 12px;
}
.buyme {
    background: #993333;
    color: white;
}
.chatting {
    background: #f8e65d;
    color: white;
}
.two {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.payment-in {
    margin-left: 44px;
}
.sellerid {
    margin-left: 29px;
}
.compare, .explain, .itemLine{
    width: 60vw;
    margin: 0 auto;
    margin-top: 70px;
}
.explain, .itemLine {
    margin-top: 20px;
}
.explainIn{
    border: 1px solid black;
    word-break:break-all;
    margin-top: 7px;
    height: 10vw;
}
#relation {
    margin-bottom: 20px;
}
#popular {
    margin-bottom: 20px;
}


.hidden a {
    display: block;
    color: #000;
}
.productmenu {
    margin-left: 20px;
    width: 100px;
}
.writer-menu>li, .status-change>li {
    position: relative;
       width: 150px;
    height: 35px;
    border: 1px solid;
    text-align: center;
    line-height: 37px;
    background: white;
}
.writer-menu li a:hover {
    background-color: #993333;
    color: white;
}
.status-change {
    position: absolute;
    width: 150px;
    height: 30px;
    transform: translate(-169px, -44.4px);
    padding-top: 6px;
}
.status-change>li a:hover {
    display: block;
    background: #993333;
    color: white;	
}
.writer-menu {
    position: absolute;
    transform: translate(-107px, 4px);
}
.colorchange{
    background: #ff9f31;
}

.relation-in, .popular-in, .three {
    display: flex;
    justify-content: center;
}
.three{
    justify-content: space-around;
}
.firstLine, .secondLine{
    display: flex;
       justify-content: space-between;
}
.firstLine{
    margin-bottom: 19px;
}
.relation-like{
    width: 35px;
    display: flex;
    justify-content: space-around;
}
.relation-image{
    width: 10vw;
    height: 10.5vw;
}
.thumbnail{
    margin: 10px;
    margin-left: 17.1px;
    margin-right: 17.1px;
    border: 1px solid #d3d3d3;
    width: 10vw;
    height: 14vw;
}
.relation-heart{
    width: 16px;
}

.relation-status{
    color: #eec71a;
    font-weight: bolder;
}
.relation-title, .relation-price, .relation-status{
    font-size: 14px;
}
.buy {
    color: #ffd700;
}
.chatting:hover:enabled{
    background-color:#993333;
    color:white;
    cursor: pointer;
}
.colorchangego{
    background: lightgray;
    color: black
}