#top{
    display: flex;
    justify-content: center;
}
.container{
    margin: 0 auto;
    width: 80vw;
}
#article1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50vw;
}
#article2{
    display: flex;
    width: 50vw;
    margin: 0 auto;
    flex-wrap: wrap;
}
.firstLine, .secondLine{
	display: flex;
	justify-content: space-between;
}
.firstLine{
    margin-bottom: 19px;
}
.like{
	width: 35px;
    display: flex;
    justify-content: space-around;
}
.image{
    width: 10vw;
    height: 10.5vw;
}
.thumbnail{
    margin: 10px;
    margin-left: 17.1px;
    margin-right: 17.1px;
    border: 1px solid #d3d3d3;
   	width: 10vw;
    height: 14vw;
}
.heart{
	width: 16px;
}
.write{
	padding: 3px;
}
.status{
    color: #eec71a;
    font-weight: bolder;
}
.title, .price, .status{
	font-size: 14px;
}
