@charset "UTF-8";

.normal{
	width:70%;
	margin:0 auto;
}

	
	.listArea{
		border-top:1px solid #993333;
		text-align:center;
		width:100%;
		float:center;
		margin:0 auto;
		margin-top: 5px;
		margin-bottom:300px;
		border-collapse: collapse;
	}
	.searchArea{
		margin-top:500px;
	}
	
	.listArea>tbody>tr:hover{
		background:#993333;
		color:white;
		cursor:pointer
	}

	.menubar{
		background: rgb(192, 192, 192)333;
	}
	
	.bts{
		width: 100px;
		height:30px;
	
	}
	
	.bts2{
		width: 60px;
		height:25px;
		margin:0 auto;
		float:right;	
	}
	
	.bts3{
		width: 60px;
		height:25px;
	
	}

	h2{
	color: #993333;
}
	
thead{
	background-color: #993333;
	color: white;
}

.searchl{
	width:100px;
	height:25px;
}

.sear{
	margin:0 auto;
	margin-right:540px;
	margin-top:25px;
}

.keyword{
	width:150px;
}

.btt{
	width:60px;
	height:28px;
}

.enrollevent{
	margin:0 auto;
	margin-bottom: 20px;
}
