@charset "UTF-8";

	.outer{
			width:800px;
			height:500px;
			background:white;
			color:black;
			margin:auto;
			margin-top:30px;
		}
	.listArea{
		border-top:1px solid gray;
		text-align:center;
	}
	.searchArea{
		margin-top:50px;
	}
	
	.listArea>tbody>tr:hover{
		background:#993333;
		cursor:pointer
	}

	.menubar{
		background: gray;
	}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

body{ font-family: 'Open Sans', sans=serif; font-size:16px; font-weight: 300; color: #555; margin: 0; padding: 0;}

#page{ max-width: 1200px; margin: 0 auto; position: relative; }

.popup{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	transform: tramslate(-50%, -50%);
	width: 500px;
	height: 500px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	background: #993333;
	border-radius: 5px;
	text-align: right;
	padding: 20px;
	box-sizing: border-box;
	opacity: 0;
	transition: all 0.5s;
	color: white;
}

.popup a {color:grey; text-decoration: none;}
.popup:target { opacity: 1;}
.popup:target + .dim{ opacity:1; z-index: 2;}
.dim{ position: absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; background: rgba(0,0,0,0.6); opacity: 0; transition: all 0.5s;}




.banner {
	background: white; 
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	width:250px;
	height:600px;
	position:absolute;
	top:500px;
	right:50px;
	opacity: 1;
	transition: all 0.5s;
}

.banner a {
	color:red;
	text-decoration: none;
	position:absolute;
	top:570px;
	left: 200px;
}




/* Test */

h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight:700; }
h2 { margin: 0 0 .5em 0; font-size: 1.6em; font-weight:700; line-height: 1.1em; }
h3 { margin: 0 0 .5em 0; font-size: 1.3em; font-weight:700; }
h4 { margin: 0 0 1.5em 0; font-size: 1em; font-weight:700; }

p{ margin: 0 0 1em 0; }



/* Section - All */

section { padding: 0 30px;}
section::after { content: ''; display: block; clear: both;}

/* Section - Main */
section.main {margin-top: 20px; margin-bottom: 30px; padding: 0; }
section.main aside { width: 33%; float: left; text-align: center;}

section.main .content { margin: 15px; background: no-repeat center top; background-size: 75px 75px; padding-top: 85px;}

section.main aside h3 a { color:#000; text-decoration: none; }
section.main aside h3 a:hover { text-decoration: underline; }


section.main aside .content.tre { background-image: url(../../../resources/images/folder.svg);}
section.main aside .content.fit { background-image: url(../../../resources/images/folder.svg);}
section.main aside .content.tool { background-image: url(../../../resources/images/folder.svg);}

/* Section - Atmosphere */

section.atmosphere { background-color: #993333; padding-top: 30px; padding-bottom: 30px; color:#fff; }

section.atmosphere article { padding: 0 20px 0 515px; background: url(../../../resources/images/112.jpg) no-repeat 0 5px; min-height:220px; }

a.btn { font-size: 1.2em; text-decoration: none; color: #fff; border: 1px solid #fff; padding: 4px 15px; transition: background-color .5s; }
a.btn:hover { background-color:rgba(10,10,10,.3); }

/* Section - How to */

section.how-to { background-color: #eee9d9; position: relative; }

section.how-to aside { width: 30%; float: left; margin-right: 10px; }

section.how-to aside .content {padding: 30px 30px 20px 0; }

section.how-to aside .content img { display: block; margin-bottom: 15px; width: 70%; }

section.how-to aside .content h4 { margin-bottom: 0; }
section.how-to aside .content p { margin-bottom: .5em; }
section.how-to aside .content a { display: inline-block; color: #993333; font-weight: 700; }

section.how-to blockquote {
	margin: 0; width: 32%;
	color: #444;
	background-color: white;
	position: absolute; bottom: 0; right: 4%;
}

section.how-to blockquote p { margin: 30px 30px 20px 50px; }

section.how-to blockquote p.quote { font-style: italic; font-size: 1.2em; }

section.how-to blockquote p.credit {
	color: #777;
	font-size: .9em; margin-top: 0; padding-left: 20px; line-height: 1.3em;
	position: relative;
}

section.how-to blockquote::before { 
	content:'\201c'; color: #993333;
	position: absolute;
	top: 10px; left: 8px;
	font-size: 5em;
	font-family: serif;
}

section.how-to blockquote p.quote::after { content:'\201d'; font-family: serif; }

section.how-to blockquote p.credit::before { content: '\2014'; position: absolute; top: -1px; left: 0; }



